@model Models.Framework.THEDOCGIA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>THEDOCGIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTenDocGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTenDocGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayLapThe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLapThe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOAIDOCGIA.TenLoaiDocGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAIDOCGIA.TenLoaiDocGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayHetHanThe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayHetHanThe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLSachMuonQuaHan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLSachMuonQuaHan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLSachDangMuon_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLSachDangMuon_)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTheDocGia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
