
@model IEnumerable<Models.Framework.THEDOCGIA>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="d-flex justify-content-between">
    <h2>Danh sách thông tin thẻ độc giả</h2>
</div>


@using (Html.BeginForm("Index", "DocGia", FormMethod.Get))
{

    <b>Search by: </b> @Html.RadioButton("searchBy", "HoTenDocGia", true) <text>Họ tên độc giả</text>
    @Html.RadioButton("searchBy", "TenLoaiDocGia") <text>Tên loại độc giả</text>
    @Html.RadioButton("searchBy", "none") <text>None</text>
    <br />
    @Html.TextBox("Search")
    <input type="submit" value="search" />
}

<p>
    @Html.ActionLink("Tạo mới thẻ độc giả", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoTenDocGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOAIDOCGIA.TenLoaiDocGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayLapThe)
        </th>
        <th>Chọn chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.HoTenDocGia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgaySinh)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LOAIDOCGIA.TenLoaiDocGia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiaChi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(model => item.NgayLapThe)
    </td>
    <td>
        @Html.ActionLink("Sửa", "Edit", new { id = item.MaTheDocGia }) |
        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaTheDocGia }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.MaTheDocGia })
    </td>
</tr>
}

</table>

