@model IEnumerable<Models.Framework.CT_PHIEUMUONTRA>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Sách Đang Được Mượn</h2>

<p>
    @Html.ActionLink("Quay về", "Index","PhieuTra")
</p>

<table class="table">
    <tr>
        <th>
            Mã phiếu mượn
        </th>
        <th>
            Mã phiếu trả
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THONGTINSACH.TenSach)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaPhieuMuon)
    </td>
    <td>
        @Html.DisplayFor(modeIten => item.MaPhieuTra)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.THONGTINSACH.TenSach)
    </td>
   

    
</tr>}

</table>


