@model IEnumerable<Models.Framework.CT_PHIEUMUONTRA>

@{
    ViewBag.Title = "Delete";
}

<h3>Bạn có chắc chắn là muốn trả sách không?</h3>
<br /> <br />
<h4 class="text-center ">Danh sách độc giả đang mượn</h4>

<table class="table">
    <tr>
        <th>
            Ma Phieu Tra
        </th>
        <th>
            Mã Phiếu Mượn
        </th>
        <th>
            Mã Sách
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaPhieuTra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaPhieuMuon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSach)
            </td>


        </tr>
    }
</table>
<br />
<div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Trả Sách" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
