@model IEnumerable<Models.Framework.PHIEUTRASACH>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Danh Sách Phiếu Trả</h2>

<p>
    @Html.ActionLink("Tạo phiếu trả sách", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaPhieuTra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THEDOCGIA.HoTenDocGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TienPhatKyNay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTra)
        </th>
        <th>Chức Năng </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaPhieuTra)
    </td>
    <td>
        @Html.DisplayFor(modeIten => item.THEDOCGIA.HoTenDocGia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TongNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TienPhatKyNay)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayTra)
    </td>

    <td>
        @Html.ActionLink("Trả sách", "Delete", new { id = item.MaPhieuTra }) |
        @Html.ActionLink("Chi tiết", "Details", new { id = item.MaPhieuTra }) |
        @Html.ActionLink("Xóa", "Remove", new { id = item.MaPhieuTra })
    </td>
</tr>
}

</table>


