@model Models.Framework.PHIEUMUONSACH

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PHIEUMUONSACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaTheDocGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THEDOCGIA.HoTenDocGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayMuon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayMuon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrangMuon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrangMuon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaPhieuMuon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
