@model IEnumerable<Models.Framework.THONGTINSACH>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Tra Cứu Sách</h2>

@using (Html.BeginForm("Index", "TraCuu", FormMethod.Get))
{
    <b>Search by: </b> @Html.RadioButton("searchBy", "TenSach", true) <text>Ten sach</text>
    @Html.RadioButton("searchBy", "TenTacGia") <text>Ten Tac Gia</text>
    @Html.RadioButton("searchBy", "TenNhaXuatBan") <text>TenNhaXuatBan</text>
    @Html.RadioButton("searchBy", "none") <text>None</text>
   

    <br />
    @Html.TextBox("Search")
    <input type="submit" value="search" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loaisach1.TenTheLoaiSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tacgia1.TenTacGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        
        <th>
            Chuc Nang
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.loaisach1.TenTheLoaiSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tacgia1.TenTacGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
                    
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaSach }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaSach }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaSach })
            </td>
        </tr>
    }

</table>





