@model List<Models.Framework.THONGTINSACH>





@{
    ViewBag.Title = "xemdanhsachthongtinsach";
}

<h2>xemdanhsachthongtinsach</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">TenSach</th>
            <th scope="col">TacGia</th>
            <th scope="col">NamXuatBan</th>
            <th scope="col">NgayNhap</th>
            <th scope="col">TriGia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.TenSach</td>
            <td>@item.TacGia</td>
            <td>@item.NamXuatBan</td>
            <td>@item.NgayNhap</td>
            <td>@item.TriGia</td>
        </tr>
        }


    </tbody>
</table>