@using Models.Framework;
@model dynamic


@{
    ViewBag.Title = "xemdanhsachthongtinsach";
}

<h2>xemdanhsachthongtinsach</h2>

<table class="table">
    <thead>
        <tr>
            <th >TenSach</th>
            <th >TacGia</th>
            <th >NhaXuatBan</th>
            <th >NgayNhap</th>
            <th >TriGia</th>
        </tr>
    </thead>
    <tbody> 

            @foreach (THONGTINSACH item in Model.thongtinsachList)
            {
                <td >@item.TenSach</td>
            }
        
            @foreach (TACGIA item in Model.tacgiaList)
            {
                <td >@item.TenTacGia</td>
            }
        
            @foreach (NHAXUATBAN item in Model.nhaxuatbanList)
            {
                <td >@item.TenNXB</td>
            }
        
            @foreach (THONGTINSACH item in Model.thongtinsachList)
            {
                <td >@item.NgayNhap</td>
            }
       
        
            @foreach (THONGTINSACH item in Model.thongtinsachList)
            {
                <td >@item.TriGia</td>
            }    
    </tbody>
</table>
