@model IEnumerable<Models.Framework.PHIEUTRASACH>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Danh sách độc giả đang nợ tiền</h2>

<br />

<table class="table">
    <tr>
        <th>
            Mã phiếu trả
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THEDOCGIA.HoTenDocGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THEDOCGIA.LOAIDOCGIA.TenLoaiDocGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongNo)
        </th>


        <th>Chức Năng </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaPhieuTra)
    </td>
    <td>
        @Html.DisplayFor(modeIten => item.THEDOCGIA.HoTenDocGia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.THEDOCGIA.LOAIDOCGIA.TenLoaiDocGia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TongNo)
    </td>
  

    <td>
        @Html.ActionLink("Tạo Phiếu Thu tiền", "Create", new { id = item.MaPhieuTra })

    </td>
</tr>}

</table>



